.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap:15rem;
  margin: 5rem auto;
  height: 40vh;
  /* background: #1e1e1e; */
  max-width: 1200px;
  color: white;
  padding: 0 50px;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 12, 36, 0.199);
  border-color: #262525;
  border-radius: 35px;
  /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299); */
  box-shadow: 12px 12px 12px 2px rgba(251, 250, 250, 0.05);
  /* justify-content: center; */
  align-items: center;
  /* padding: 20px; */
  /* text-align: center; */
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; /* Space between search bar & time */
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 15px;
  /* margin-left: 10px; */
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #00c6ff;
}

.date-time h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.date-time p {
  font-size: 1.1rem;
}
.date-time {
  text-align: center;
  margin-top: 20px; /* Space below search bar */
}

.small-weather-icon {
  width: 80px;
  height: 60px;
  margin: 10px 0;
}

.condition {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #ddd;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .weather-container {
    flex-direction: column;
  }
  .left-panel,
  .right-panel {
    width: 100%;
  }
}
